<div class="container">
    <h1>Angular 13 CRUD Example - Tutsmake.com</h1>
   
    <a href="#" routerLink="/post/create/" class="btn btn-success">Create New User</a>
     
    <table class="table table-bordered">
      <tr>
       
        <th width="220px">Name</th>
        <th width="220px">Email</th>
        <th width="220px">Action</th>
      </tr>
      <tr *ngFor="let user of users">
       
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>
          <button type="button" (click)="deleteUser(user.id)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </table>
 </div>
